<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>发布通知</title>
    <link rel="stylesheet" href="__PUBLIC__js/frozenui/css/frozen.css">
    <link rel="stylesheet" href="__PUBLIC__font-awesome/css/font-awesome.min.css">
</head>
<body>
    <section class="ui-notice">
        <i></i>
        <p>你没有权限访问本网页！</p>
    </section>
</body>
</html>